body {
  font-family: Arial, sans-serif;
  color: cornflowerblue;
}


.content section[id^="section-"] {
  display: none;
  padding-left: 1em;
  padding-right: 1em;
}
.content section[id^="section-"].content-current {
  display: block;
}
.content section[id^="section-"]::after {
  content: " ";
  display: table;
  clear: both;
}
.mediabox {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}
.mediabox img {
  width: 100%;
}
